@import '../../assets/variables.scss';

.detailPage {
  display: flex;
  flex-direction: column;
	row-gap: 20px;
  justify-content: center;
  align-items: center;
	padding: 30px 20px;
	min-height: 80vh;
  background-color: $secondary-color;

	&__button {
		padding-inline: 10px;
		font-size: 30px;
		font-family: $main-font;
		background-color: $primary-color;
		color: $secondary-color;
		border-radius: 10px;
		cursor: pointer;
	}
}
